DATABASE_URL=postgres://account:password@localhost:5432/database
PAYLOAD_SECRET=954bfc716bd0c78333154536
SMTP_HOST=smtp.gmail.com
SMTP_USER=username@gmail.com
SMTP_PASS=password_app
SMTP_PORT=465
BASE_URL=http://localhost:3000